# WEB SCRAPING

In [1]:
import pandas as pd
import requests
import pymongo
from bs4 import BeautifulSoup

In [2]:
#client = pymongo.MongoClient("mongodb+srv://test:test@cluster0.08hmy.mongodb.net/newdatabase?retryWrites=true&w=majority")
#db = client.test

In [3]:
url = 'https://www.iplt20.com/stats/2021/most-runs'
web_content = requests.get(url).content
soup = BeautifulSoup(web_content, "html.parser")
extract_contents = lambda row: [x.text.replace('\n', '') for x in row]
stats = [] 
all_rows = soup.find_all('tr')
for row in all_rows:
    stat = extract_contents(row.find_all('td')) 
    if len(stat) == 14:
        stats.append(stat)
new_cols = ["POS","PLAYER","Mat","Inns","NO","Runs","HS","Avg","BF","SR","100","50","4s","6s"]
state_data = pd.DataFrame(data = stats, columns = new_cols)
state_data.head(10)

,POS,PLAYER,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,1,Ruturaj ...,16,16,2,635,101*,45.35,466,136.26,1,4,64,23
1,2,Faf ...,16,16,2,633,95*,45.21,458,138.20,0,6,60,23
2,3,KL ...,13,13,3,626,98*,62.60,451,138.80,0,6,48,30
3,4,Shikhar ...,16,16,1,587,92,39.13,471,124.62,0,3,63,16
4,5,Glenn ...,15,14,2,513,78,42.75,356,144.10,0,6,48,21
5,6,Sanju ...,14,14,2,484,119,40.33,354,136.72,1,2,45,17
6,7,Prithvi ...,15,15,0,479,82,31.93,301,159.13,0,4,56,18
7,8,Shubman ...,17,17,0,478,57,28.11,402,118.90,0,3,50,12
8,9,Mayank ...,12,12,1,441,99*,40.09,314,140.44,0,4,42,18
9,10,Rishabh ...,16,16,4,419,58*,34.91,326,128.52,0,3,42,10

In [28]:
state_data.shape

(149, 14)

In [29]:
state_data.head(10)

,POS,PLAYER,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,1,Ruturaj ...,16,16,2,635,101*,45.35,466,136.26,1,4,64,23
1,2,Faf ...,16,16,2,633,95*,45.21,458,138.20,0,6,60,23
2,3,KL ...,13,13,3,626,98*,62.60,451,138.80,0,6,48,30
3,4,Shikhar ...,16,16,1,587,92,39.13,471,124.62,0,3,63,16
4,5,Glenn ...,15,14,2,513,78,42.75,356,144.10,0,6,48,21
5,6,Sanju ...,14,14,2,484,119,40.33,354,136.72,1,2,45,17
6,7,Prithvi ...,15,15,0,479,82,31.93,301,159.13,0,4,56,18
7,8,Shubman ...,17,17,0,478,57,28.11,402,118.90,0,3,50,12
8,9,Mayank ...,12,12,1,441,99*,40.09,314,140.44,0,4,42,18
9,10,Rishabh ...,16,16,4,419,58*,34.91,326,128.52,0,3,42,10

In [30]:
state_data.describe()

,POS,PLAYER,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
count,149,149,149,149,149,149,149,149,149,149,149,149,149,149
unique,149,149,17,17,8,98,92,103,97,119,2,6,42,23
top,1,Ruturaj ...,1,2,0,0,0*,-,4,0.00,0,0,0,0
freq,1,1,14,24,48,10,10,15,11,10,145,108,38,52

In [31]:
state_data.isnull().sum()

POS       0
PLAYER    0
Mat       0
Inns      0
NO        0
Runs      0
HS        0
Avg       0
BF        0
SR        0
100       0
50        0
4s        0
6s        0
dtype: int64

# Fromula engin

In [4]:
import parser
from math import sin


formula2 = input('please enter formula ')
code2 = parser.expr(formula2).compile()
x = int(input('enter value of x '))
y = int(input('enter value of y '))
z = int(input('enter value of z '))
print(formula2)
print('value of x:',x,'value of y:',y,'value of z:',z)
print(eval(code2))

please enter formula x+y+z
enter value of x 70
enter value of y 90
enter value of z 50
x+y+z
value of x: 70 value of y: 90 value of z: 50
210

# Logging Exceptions
Basic programming using error handling i.e. try-except-finally

In [6]:

try:
    f=open('mynew','w')
    f.write('This is my new file')  
    
except:
    print('There is an error occured while writing a file')

In [7]:
try:
    f=open('mynew','r')  # error created
    f.write('This is my new file')  
    
except:
    print('There is an error occured while writing a file')

There is an error occured while writing a file

In [8]:
try:
    f=open('mynew','r')
    f.write('This is my new file')  
    
except Exception as err:
    print(f'There is an error: {err}')

There is an error: not writable

In [9]:
def int_res():
    
    while True:
        
        try:
            result=int(input("Enter the integer number: "))

        except:
            
            print("Entered value is not a number")
            continue
        
        else:
            
            print("Integer number is provided")
            break

In [10]:
int_res()

Enter the integer number: 30
Integer number is provided

In [11]:
try:
    
    for i in ['a','b','c']:
        print(i**2)

except Exception as err:
    print(f"Occured error is: {err}")

Occured error is: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [12]:
try:
    
    x=5
    y=0
    x/y
    
except Exception as e:
    print(f"Error occured is: {e}")

Error occured is: division by zero

# Basic Programming using logging library

In [15]:
# importing the module

import logging

try:
    printf("Hello World!")

except Exception as Argument:

    logging.exception("Error occured while printing")

ERROR:root:Error occured while printing
Traceback (most recent call last):
  File "C:\Users\Admin\AppData\Local\Temp/ipykernel_5624/3547929390.py", line 6, in <module>
    printf("Hello World!")
NameError: name 'printf' is not defined

In [16]:
# importing the module
import logging

try:
    a=10
    b="C"
    c=a+b

except Exception as err:
   
    # creating/opening a file
    f = open("mynew1.txt", "a")
    
    # writing in the file
    f.write(str(err))
    
    # closing the file
    f.close()

In [19]:
import logging

logger=logging.getLogger()

try:
    printf("Hello World!!")

except Exception:
    logger.exception("Error occured while ruuning a code")

ERROR:root:Error occured while ruuning a code
Traceback (most recent call last):
  File "C:\Users\Admin\AppData\Local\Temp/ipykernel_5624/3966204240.py", line 6, in <module>
    printf("Hello World!!")
NameError: name 'printf' is not defined

In [18]:
import logging

logger=logging.getLogger()

try:
    printf("Hello World!!")

except Exception:
    logger.error("Error occured while ruuning a code")

ERROR:root:Error occured while ruuning a code

In [20]:
import logging

logger=logging.getLogger()

try:
    printf("Hello World!!")

except Exception:
    logger.error("Error occured while ruuning a code",exc_info=True)

ERROR:root:Error occured while ruuning a code
Traceback (most recent call last):
  File "C:\Users\Admin\AppData\Local\Temp/ipykernel_5624/2574216460.py", line 6, in <module>
    printf("Hello World!!")
NameError: name 'printf' is not defined

In [21]:
import logging

logger=logging.getLogger()

try:
    printf("Hello World!!")

except Exception as e:
    logger.error("Error occured while ruuning a code",exc_info=e)

ERROR:root:Error occured while ruuning a code
Traceback (most recent call last):
  File "C:\Users\Admin\AppData\Local\Temp/ipykernel_5624/3594270411.py", line 6, in <module>
    printf("Hello World!!")
NameError: name 'printf' is not defined

# Programming using logging library and different level

In [22]:
#importing module
import logging

def main():
    #Create and configure logger
    logging.basicConfig(filename="practice.log", format='[%(asctime)s] %(levelname)-8s %(name)-12s %(message)s', filemode='a')

    
    #Creating an object
    logger=logging.getLogger('my_logger')

    #Setting the threshold of logger to DEBUG
    logger.setLevel(logging.DEBUG)

    #Test messages
    logger.debug("Harmless debug Message")
    logger.info("Just an information")
    logger.warning("Its a Warning")
    logger.error("Did you try to divide by zero")
    logger.critical("Internet is down")

if __name__ == '__main__':
    main()

DEBUG:my_logger:Harmless debug Message
INFO:my_logger:Just an information
WARNING:my_logger:Its a Warning
ERROR:my_logger:Did you try to divide by zero
CRITICAL:my_logger:Internet is down

In [26]:
#importing module
import logging

def Addition():
    n1=5
    n2=10

    Addition=n1+n2

    print(f"Addition is: {Addition}")

    
def main():
    #Create and configure logger
    logging.basicConfig(filename="practice1.log", format='[%(asctime)s] %(levelname)-8s %(name)-12s %(message)s', filemode='a')

    
    #Creating an object
    logger=logging.getLogger('my_logger')

    #Setting the threshold of logger to DEBUG
    logger.setLevel(logging.DEBUG)

    #Test messages
    logger.debug("Harmless debug Message")
    logger.info("Just an information")
    logger.warning("Its a Warning")
    logger.error("Did you try to divide by zero")
    logger.critical("Internet is down")

    Addition()
    
if __name__ == '__main__':
    main()

DEBUG:my_logger:Harmless debug Message
INFO:my_logger:Just an information
WARNING:my_logger:Its a Warning
ERROR:my_logger:Did you try to divide by zero
CRITICAL:my_logger:Internet is down

Addition is: 15

In [27]:
import logging 

def Division_fun(a,b):
    try:
        x=a/b
        return x 
    except:
        logging.error('error',exc_info=True)

In [24]:
Division_fun(4,2)

2.0

In [25]:
Division_fun(4,0)

ERROR:root:error
Traceback (most recent call last):
  File "C:\Users\Admin\AppData\Local\Temp/ipykernel_5624/4058996115.py", line 5, in Division_fun
    x=a/b
ZeroDivisionError: division by zero